body {
  background-image: url("Images/wall4.jpg");
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
.logo {
  font-size: 50px;
  font-weight: 800;
  color: rgb(10, 147, 160);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 0 rgb(3, 89, 97), -2px 2px 0 rgb(3, 89, 97),
    -2px -2px 0 rgb(3, 89, 97), 2px -2px 0 rgb(3, 89, 97);
}
nav {
  background-color: rgb(35, 199, 214);
  text-align: center;
}
.nav__list {
  list-style-type: none; /* usuniecie kropek */
  margin: 0;
  padding: 15px;
  font-size: 27px;
  min-height: 35px;
  line-height: 150%;
  /* wyrownanie w pionie */
}
.nav__list > li {
  display: inline-block; /* obok siebie są elementy  */
  padding-left: 20px;
  padding-right: 20px;
  border-right: 3px dashed rgb(10, 147, 160);
}
.nav__list > li:first-child {
  border-left: 3px dashed rgb(4, 91, 98);
}
.nav__list a {
  color: rgb(4, 113, 122);
  font-weight: 650;
  text-decoration: none; /* bez underlina  */
}
.nav__list a:hover {
  color: rgb(5, 106, 116);
  text-decoration: none;
}
section {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; /* wyśrodkowanie strony  */
  margin-bottom: 40px;
  width: 90%;
  text-align: center;
  padding: 0;
  background-color: rgb(10, 147, 160);
  border: 4px solid rgb(4, 92, 100);
}
.section__p--center {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.section__p--justify {
  font-size: 30px;
  font-weight: 600;
  text-align: justify;
}
section q {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
section h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(2, 61, 88);
  margin-bottom: 20px;
  border: 3px solid rgb(6, 85, 78);
}
.contents__elements h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(3, 66, 71);
  margin-bottom: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(8, 158, 172);
  width: 85%;
  padding: 5px;
  border-left: 5px solid rgb(3, 124, 63);
  border-right: 5px solid rgb(3, 124, 63);
  border-top: 2px solid rgb(3, 124, 63);
  border-bottom: 2px solid rgb(3, 124, 63);
}

ol.contents__elements {
  margin-top: 10px;
  margin-left: 150px;
}
ol.contents__elements > li {
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(1, 65, 40);
  font-weight: 800;
  padding: 5px;
  letter-spacing: 2px;
}

ol.contents__elements > li > ul {
  font-size: 25px;
  text-transform: none;
  font-weight: 600;
  padding: 0px;
  letter-spacing: 1px;
  margin-top: 10px;
  padding-left: 30px;
  list-style-type: none;
  color: rgb(3, 86, 93);
  margin-bottom: 20px;
}
ol.contents__elements > li > ul > li {
  margin: 0px;
}

ol.contents__elements > li > ul.contents__format--pointer > li:before {
  /* before = co przed danym elementem ma sie znaleźć */
  color: rgb(1, 65, 40);
  content: "➥";
  margin-right: 10px;
}

ol.contents__elements > li > ul.contents__format--arrow > li:before {
  color: rgb(1, 65, 40);
  content: "➶";
  margin-right: 10px;
}
ol.contents__elements > li > ul.contents__format--moon > li:before {
  color: rgb(1, 65, 40);
  content: "☾";
  margin-right: 10px;
}
ol.contents__elements > li > ul.contents__format--scissors > li:before {
  color: rgb(1, 65, 40);
  content: "✂";
  margin-right: 10px;
}
.lessons {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: rgb(35, 199, 214);
  border: 5px solid rgb(3, 66, 71);
}

.lesson__header {
  color: rgb(3, 66, 71);
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline rgb(1, 84, 90);
}

.lesson {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 4px solid rgb(3, 66, 71);
  margin-bottom: 60px;
}

.lesson__pattern {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  border-top: 3px solid rgb(3, 66, 71);
  border-bottom: 3px solid rgb(3, 66, 71);
}

.lesson__pattern--examples {
  /* display: inline-block; */
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.lesson--use {
  font-size: 30px;
  font-weight: 650;
  text-decoration: none;
}
ul.lesson--use {
  list-style-type: none;
}
ul.lesson--use > li:before {
  color: rgb(3, 66, 71);
  content: "➶";
}


.lesson__container {
  display: flex;
  justify-content: space-around;
}
.lesson__fotography {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lesson__fotography img {
  width: 100%;
}

.lesson__footer {
  background-color: rgb(3, 66, 71);
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top:40px;
  margin-bottom: 60px;
}
.lesson__fotography--bigger
{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lesson__fotography--bigger img
{
  width: 100%;
}